<!-- views/index.html -->
<script src="javascript/app.js"></script>
<div>
    <!-- Filter links -->
    <div>
        <a href="/cooking" class="filter-link">Cooking</a>
        <a href="/to-cook" class="filter-link">To Cook</a>
        <a href="/tried" class="filter-link">Tried</a>
        <a href="/not-tried" class="filter-link">Not Tried</a>
    </div>

    <!-- Recipe list -->
    <div id="recipeList">
        {{ if .Recipes }}
        {{ range .Recipes }}
            <div class="recipe-list-container" data-recipe-id="{{ .ID }}">
                <!-- Make recipe title a clickable link -->
                <a href="/recipe/{{ .ID }}" class="recipe-link">
                    <h3>{{ .Title }}</h3>
                </a>
                <p>Status: {{ .Status }}</p>
            </div>
        {{ end }}
        {{ else }}
            <p>No recipes yet.</p>
            <p><a href="/recipe">Add new</a></p>
        </div>
        {{ end }}
    </div>
</div>
