<form id="new-form" method="POST" action="/recipe">
    <label for="title">
        <span>Title</span>
        <input id="title" type="text" name="title">
    </label>

    <label for="ingredients">
        <span>Ingredients</span>
        <input id="ingredients" type="text" name="ingredients">
    </label>

    <label for="instructions">
        <span>Instructions</span>
        <input id="instructions" type="text" name="instructions">
    </label>

    <label for="status">
        <span>Status</span>
        <select name="status" id="status">
            <option value="default-status">Default Status</option>
            <!-- Add other status options as needed -->
        </select>
    </label>

    <input type="submit" value="Submit">
</form>
