<link rel="stylesheet" href="/style/main.css?v=1">

<div class="container flex">
    {{ if .Recipe }}
    
    <div class="content">
        <h2>{{ .Recipe.Title }}</h2>
        <p><strong>Ingredients:</strong> {{ .Recipe.Ingredients }}</p>
        <p><strong>Instructions:</strong> {{ .Recipe.Instructions }}</p>
        <p><strong>Status:</strong> {{ .Recipe.Status }}</p>
    </div>
    
    <div class="actions">
        <a href="/recipe/{{.Recipe.ID }}/edit" class="btn-secondary">Edit</a>
        <button id="delete-button" data-recipeid="{{ .Recipe.ID }}" class="btn-danger">Delete</button>
    </div>

    {{ else }}
    <p>Recipe not found.</p>
    {{ end }}
</div>


