<!-- Update Recipe Form -->
<form id="update-form" method="POST" action="/api/recipes/update">
    <label for="update-recipe-id">
        <span>Recipe ID</span>
        <input id="update-recipe-id" type="text" name="recipeID">
    </label>

    <label for="update-status">
        <span>New Status</span>
        <select name="status" id="update-status">
            <option value="to-cook">to-cook</option>
            <option value="cooking">cooking</option>
            <option value="tried">tried</option>
            <option value="not tried">not tried</option>
        </select>
    </label>

    <input type="submit" value="Update Recipe">
</form>
